Common DataStructure of Python

List

In [3]:
# empty list
my_list = []
type(my_list)

list

In [4]:
# example
bool_list = [True, False, True]
bool_list

[True, False, True]

In [5]:
# mix data type list
mix_list = [1,2.3, 'stringvalue']
mix_list

[1, 2.3, 'stringvalue']

In [7]:
# list can have duplicate values 
dup_list = [1, 1, 1, 'my', 'my']
dup_list

[1, 1, 1, 'my', 'my']

In [8]:
# Accessing element of list 
# by index 
ex_list = [1, 2, 3, 5]
ex_list[0]

1

In [9]:
# index start with 0 to len(list) -1
my_list =["First", "Second", "Third"]
print(my_list[0])
print(my_list[len(my_list) -1])

First
Third

In [1]:
# Negative index
cars = ['toyota', 'honda', 'maruti', 'hundai']
print(cars[-1])
print(cars[-2])

hundai
maruti

In [3]:
# Index can be also used for updating 

cars[3] = 'Nissan'
cars

['toyota', 'honda', 'maruti', 'Nissan']

In [4]:
# Adding new element in the list 
cars.append('Hundai')
cars

['toyota', 'honda', 'maruti', 'Nissan', 'Hundai']

In [5]:
# Appending two element 
cars.append('Fiat', 'VW') # this will throw error as append will accept only one element

TypeError: append() takes exactly one argument (2 given)

In [8]:
# insert function - if we wanted to insert an element at specific location in the list 
cars.insert(11, 'Fiat')
cars.insert(13, 'VW')
cars

['toyota',
 'honda',
 'maruti',
 'Nissan',
 'Hundai',
 'Fiat',
 'Fiat',
 'VW',
 'Fiat',
 'VW']

In [9]:
len(cars)

10

In [11]:
# extend - function is used for adding multiple element
cars.extend(['Kia', 'Tata'])

In [12]:
cars

['toyota',
 'honda',
 'maruti',
 'Nissan',
 'Hundai',
 'Fiat',
 'Fiat',
 'VW',
 'Fiat',
 'VW',
 'Kia',
 'Tata']

In [13]:
## Adding two list using + operator it will return new list without impacting the other list 

exp_cars = ['Mercedes', 'BMW']
new_cars_list = cars + exp_cars
print('New List: ', new_cars_list)
print('Old cars list: ', cars)

New List:  ['toyota', 'honda', 'maruti', 'Nissan', 'Hundai', 'Fiat', 'Fiat', 'VW', 'Fiat', 'VW', 'Kia', 'Tata', 'Mercedes', 'BMW']
Old cars list:  ['toyota', 'honda', 'maruti', 'Nissan', 'Hundai', 'Fiat', 'Fiat', 'VW', 'Fiat', 'VW', 'Kia', 'Tata']

In [14]:
# index function - return the index value of given element 
cars.index('Fiat')

5

In [15]:
# other operator 
cars += ['Poshe', 'Dugati']
cars

['toyota',
 'honda',
 'maruti',
 'Nissan',
 'Hundai',
 'Fiat',
 'Fiat',
 'VW',
 'Fiat',
 'VW',
 'Kia',
 'Tata',
 'Poshe',
 'Dugati']

In [16]:
# pop 

cars.pop()

'Dugati'

In [17]:
cars

['toyota',
 'honda',
 'maruti',
 'Nissan',
 'Hundai',
 'Fiat',
 'Fiat',
 'VW',
 'Fiat',
 'VW',
 'Kia',
 'Tata',
 'Poshe']

In [20]:
# count - return the count of given element
cars.count('Fiat')

3

In [21]:
# set - is another data type which similar to list 
# except it does not contain any duplicate 
set(cars)

{'Fiat',
 'Hundai',
 'Kia',
 'Nissan',
 'Poshe',
 'Tata',
 'VW',
 'honda',
 'maruti',
 'toyota'}

In [22]:
# clear function - removes all element in one go 
cars.clear()
cars

[]

In [23]:
# copy - function - it crates exact copy of the list in memory 
# ANy changes in copy list does not impact the main list 
copy_cars = new_cars_list.copy()
copy_cars

['toyota',
 'honda',
 'maruti',
 'Nissan',
 'Hundai',
 'Fiat',
 'Fiat',
 'VW',
 'Fiat',
 'VW',
 'Kia',
 'Tata',
 'Mercedes',
 'BMW']

In [24]:
copy_cars += ['Dugati', 'Poush']
print("List of cars in copy: ", copy_cars)
print("List of cars in Original: ", new_cars_list)

List of cars in copy:  ['toyota', 'honda', 'maruti', 'Nissan', 'Hundai', 'Fiat', 'Fiat', 'VW', 'Fiat', 'VW', 'Kia', 'Tata', 'Mercedes', 'BMW', 'Dugati', 'Poush']
List of cars in Original:  ['toyota', 'honda', 'maruti', 'Nissan', 'Hundai', 'Fiat', 'Fiat', 'VW', 'Fiat', 'VW', 'Kia', 'Tata', 'Mercedes', 'BMW']

In [25]:
# del - command to delete the list entirely from memory 
del new_cars_list

In [27]:
new_cars_list # throw error - not defined as it is deleted in above command

NameError: name 'new_cars_list' is not defined

In [28]:
copy_cars

['toyota',
 'honda',
 'maruti',
 'Nissan',
 'Hundai',
 'Fiat',
 'Fiat',
 'VW',
 'Fiat',
 'VW',
 'Kia',
 'Tata',
 'Mercedes',
 'BMW',
 'Dugati',
 'Poush']

In [29]:
# shallow copy using = assign operator 
# in shallow copy - changing in one will make changes in another 
ex_shallow = copy_cars
print("Original cars: ", copy_cars)

ex_shallow.pop()
print("Original cars: ", copy_cars)

Original cars:  ['toyota', 'honda', 'maruti', 'Nissan', 'Hundai', 'Fiat', 'Fiat', 'VW', 'Fiat', 'VW', 'Kia', 'Tata', 'Mercedes', 'BMW', 'Dugati', 'Poush']
Original cars:  ['toyota', 'honda', 'maruti', 'Nissan', 'Hundai', 'Fiat', 'Fiat', 'VW', 'Fiat', 'VW', 'Kia', 'Tata', 'Mercedes', 'BMW', 'Dugati']

In [30]:
# remove - function to remove specific element 
copy_cars.remove('toyota')

In [31]:
copy_cars

['honda',
 'maruti',
 'Nissan',
 'Hundai',
 'Fiat',
 'Fiat',
 'VW',
 'Fiat',
 'VW',
 'Kia',
 'Tata',
 'Mercedes',
 'BMW',
 'Dugati']

In [32]:
# max - function return the max value 
num_list = [20, 30, 40, 50, 60, 70, 80, 90]
max(num_list)

90

In [33]:
# min 
min(num_list)

20

In [35]:
# sort 
num_list.sort()
num_list

[20, 30, 40, 50, 60, 70, 80, 90]

In [36]:
num_list.append(24)

In [37]:
# Now list is not soreted 
print("Number list: ", num_list)

Number list:  [20, 30, 40, 50, 60, 70, 80, 90, 24]

In [38]:
# sorted function - it will create new list with sorted order without affecting the original list 
sorted_list = sorted(num_list)
print("Sorted List: ", sorted_list)
print("Number list: ", num_list)

Sorted List:  [20, 24, 30, 40, 50, 60, 70, 80, 90]
Number list:  [20, 30, 40, 50, 60, 70, 80, 90, 24]

In [39]:
# sum 
sum(sorted_list)

464

In [40]:
# other arthmetic operation 
num_list *= 2
num_list

[20, 30, 40, 50, 60, 70, 80, 90, 24, 20, 30, 40, 50, 60, 70, 80, 90, 24]

In [43]:
# all - all function will check all element are true 
print(all([0]))
print(all([1])) # True - any number instead of 0 will return true 
print(all([1, 0])) # False 
print(all([1,0,1])) # False since one of the element is false
print(all([])) # True

False
True
False
False
True

In [44]:
# any function  - 
print(any([0]))
print(any([1]))
print(any([0, 1]))
print(any([]))

False
True
True
False

In [45]:
# slicing 
car_maker_list = ['Toyota', 'Tata', 'Maruti', 'Hundai', 'Kia', 'Honda']
car_maker_list

['Toyota', 'Tata', 'Maruti', 'Hundai', 'Kia', 'Honda']

In [46]:
# length of list 
len(car_maker_list)

6

In [47]:
# Slicing 
car_maker_list[0:4] # start, to end - end index is exclusive

['Toyota', 'Tata', 'Maruti', 'Hundai']

In [48]:
car_maker_list[0:6]

['Toyota', 'Tata', 'Maruti', 'Hundai', 'Kia', 'Honda']

In [49]:
car_maker_list[0:7]

['Toyota', 'Tata', 'Maruti', 'Hundai', 'Kia', 'Honda']

In [50]:
car_maker_list[7:]

[]

In [51]:
car_maker_list[:4]

['Toyota', 'Tata', 'Maruti', 'Hundai']

In [52]:
car_maker_list[3:]

['Hundai', 'Kia', 'Honda']

In [53]:
car_maker_list[0:-4]

['Toyota', 'Tata']

In [54]:
car_maker_list[-4:-1]

['Maruti', 'Hundai', 'Kia']

In [55]:
# step size 
car_maker_list[0: 4: ] # end one is step size

['Toyota', 'Tata', 'Maruti', 'Hundai']

In [56]:
car_maker_list[::2 ]

['Toyota', 'Maruti', 'Kia']

In [60]:
car_maker_list[4:0: -1] # moving back ward

['Kia', 'Hundai', 'Maruti', 'Tata']

In [61]:
car_maker_list[::-2 ]

['Honda', 'Hundai', 'Tata']

In [62]:
# assing new element 
print(car_maker_list)

car_maker_list[6:-1] = ['Marcedees', 'BMW']

['Toyota', 'Tata', 'Maruti', 'Hundai', 'Kia', 'Honda']

In [63]:
# in operator 

'BMW' in car_maker_list

True