Dictionary and Set

In [2]:
# creating empty dictionary 
empty_dict ={}
empty_dict

{}

In [3]:
# Example of dict
car_maker = {"rakesh": "No Car",
            "shyam": "Toyota",
            "Ashvin": "Fiat", 
            "Kshitij": "Maruti"}

car_maker['rakesh']

'No Car'

In [4]:
# what if value is used 
car_maker['Fiat']

KeyError: 'Fiat'

In [5]:
# integer dict 
# Key should be unique 
int_dict = {1: 23, 2: 34, 3:45}
print(int_dict)

{1: 23, 2: 34, 3: 45}

In [6]:
# What if key is duplicate 
int_dict = {1:23, 2:34, 3:45, 4: 45, 3: 48} # 3 is duplicate 
print(int_dict) # last value of 3 is overwrite the previous value of 3

{1: 23, 2: 34, 3: 48, 4: 45}

In [7]:
# Dictionary functions 
# keys()
int_dict.keys()

dict_keys([1, 2, 3, 4])

In [8]:
# we can check the key 
'rakesh' in car_maker

True

In [9]:
# values() - return all the values 
car_maker.values()

dict_values(['No Car', 'Toyota', 'Fiat', 'Maruti'])

In [10]:
# dictionary can contain mix key 

mix_dict = {'True': "Boolean Key", 
           2: "Integer Key",
           3.2: 'Float key', 
           'name': 'String key'}
mix_dict

{'True': 'Boolean Key',
 2: 'Integer Key',
 3.2: 'Float key',
 'name': 'String key'}

In [12]:
# We can add new key:value pair to dictionary
mix_dict['price']= [1,2,3,4]
mix_dict

{'True': 'Boolean Key',
 2: 'Integer Key',
 3.2: 'Float key',
 'name': 'String key',
 'price': [1, 2, 3, 4]}

In [13]:
# Updating the value 
mix_dict['name'] = 'New Value'
mix_dict

{'True': 'Boolean Key',
 2: 'Integer Key',
 3.2: 'Float key',
 'name': 'New Value',
 'price': [1, 2, 3, 4]}

In [14]:
# we can also use get() function for looking up the key value 
mix_dict.get('name')

'New Value'

In [16]:
# we can remove the key value pair from dictionary - using del 

print(mix_dict)
print('-------------')
del mix_dict['name']
mix_dict

{'True': 'Boolean Key', 2: 'Integer Key', 3.2: 'Float key', 'name': 'New Value', 'price': [1, 2, 3, 4]}
-------------

{'True': 'Boolean Key',
 2: 'Integer Key',
 3.2: 'Float key',
 'price': [1, 2, 3, 4]}

In [17]:
# creating and assigning the value to dictionary 
fruits ={}
fruits['bananan'] = 10
fruits['apple'] = 20
fruits['fig'] = 10
fruits['orange'] = 10
fruits

{'bananan': 10, 'apple': 20, 'fig': 10, 'orange': 10}

In [18]:
# dictionary can hold list and tuple as value
cars= {'Maruit': ['Alto', 'Wagonar', 'Breeza'],
      'Honda': ['City', 'Amaze', 'Brio'], 
      'Hyundai': ['i20', 'i10', 'grand'], 
      'Tata': ['Indica', 'Nexon', 'Hexa']}

cars

{'Maruit': ['Alto', 'Wagonar', 'Breeza'],
 'Honda': ['City', 'Amaze', 'Brio'],
 'Hyundai': ['i20', 'i10', 'grand'],
 'Tata': ['Indica', 'Nexon', 'Hexa']}

In [19]:
# lookup the values 
cars['Tata']

['Indica', 'Nexon', 'Hexa']

In [20]:
# specific car look up in Tata 
cars['Tata'][2]

'Hexa'

In [22]:
# dictionary contain dictionary
cars = {
    'Maruti':{'Wagonar': 20},
    'Tata': {'Hexa': 30}
}

cars

{'Maruti': {'Wagonar': 20}, 'Tata': {'Hexa': 30}}

In [23]:
# Functions 
# len() - return the numbers of keys 
len(cars)

2

In [24]:
# sorted - sorted order of Keys 
sorted(fruits)

['apple', 'bananan', 'fig', 'orange']

In [25]:
sorted(fruits, reverse=True)

['orange', 'fig', 'bananan', 'apple']

In [26]:
# items - returns the Key
fruits.items()

dict_items([('bananan', 10), ('apple', 20), ('fig', 10), ('orange', 10)])

In [27]:
# copy method 
new_fruits = fruits.copy()
new_fruits

{'bananan': 10, 'apple': 20, 'fig': 10, 'orange': 10}

In [29]:
# pop - remove the key however it accept the key value 
new_fruits.pop('apple')

20

In [30]:
new_fruits

{'bananan': 10, 'fig': 10, 'orange': 10}

In [32]:
# popitem - remove any random key value pair from dictionary
print(new_fruits)
print(new_fruits.popitem())
new_fruits

{'bananan': 10, 'fig': 10, 'orange': 10}
('orange', 10)

{'bananan': 10, 'fig': 10}

In [36]:
# Update - for updating the dictionary with anothere dictionary content 
print(new_fruits)
print(fruits)
new_fruits.update(fruits)
new_fruits

{'bananan': 10, 'fig': 10, 'apple': 20, 'orange': 10}
{'bananan': 10, 'apple': 20, 'fig': 10, 'orange': 10}

{'bananan': 10, 'fig': 10, 'apple': 20, 'orange': 10}

In [35]:
new_fruits

{'bananan': 10, 'fig': 10, 'apple': 20, 'orange': 10}

In [37]:
# clear - for cleaning a dictionary
print(new_fruits)
new_fruits.clear()
new_fruits

{'bananan': 10, 'fig': 10, 'apple': 20, 'orange': 10}

{}

In [38]:
# del - deleting the dictionary from memory 
# clean - will just remove the element, however its refrence will be present. Where as del will also remove the refrence from memory
print(new_fruits)
del new_fruits

# new_fruits - This will throw error

{}

NameError: name 'new_fruits' is not defined

Sets

- collection of dataset similar to list , 
- it does not support duplicate key. 
- It is started with curly braces. 
- not allow key value pair
- Not allows list as element as list is mutable. However it support tuple 
- Not allow dict as element 
- dict or list are mutable so set does not allows duplicates 
- it does not support indexing

In [39]:
my_set = {'this', 'is', 'example'}
my_set

{'example', 'is', 'this'}

In [43]:
# what about the key 
my_set = {1:'this', 2:'is', 3:'example'} # this will become dictionary

In [42]:
type(my_set)

dict

In [45]:
# creating empty set 
my_new = set()
my_new

set()

In [46]:
# set can not have list as element 
list_set = {1, 3, 4, [5, 6, 7]}

TypeError: unhashable type: 'list'

In [47]:
# set can have tuple as element
tuple_set = {1, 2, 3, (4, 5, 6)}

In [49]:
# does not support indexing 
tuple_set[3]

TypeError: 'set' object is not subscriptable

In [50]:
# add method to add the element 
tuple_set.add(9)
tuple_set

{(4, 5, 6), 1, 2, 3, 9}

In [51]:
len(tuple_set)

5

In [55]:
# max - return the max value 
ex_set = {2, 5, 8, 3, 10}
max(ex_set)

10

In [56]:
# discard function - remove the element from set
ex_set.discard(3)
ex_set

{2, 5, 8, 10}

In [57]:
# remove function - remove the element 
ex_set.remove(5)

In [58]:
ex_set

{2, 8, 10}

In [59]:
# diff between discard or remove - if element does not exists then discard will do nothing however remove will throw error
ex_set.discard(5)
ex_set.remove(5) # this will throw error

KeyError: 5

In [60]:
# clear function will remove the set
ex_set.clear()

In [61]:
# set operation
num1 = {1, 2, 3, 4}
num2 = {2, 3, 7, 8}
num3 = {7, 9, 10, 8}

# Union operation if we want to add two set 
num1.union(num2) # duplicate will be removed

{1, 2, 3, 4, 7, 8}

In [62]:
num1.union(num2, num3) # can have multiple argument 
# union return new set

{1, 2, 3, 4, 7, 8, 9, 10}

In [63]:
num1.intersection(num2) # return the common element present in num1 and num2

{2, 3}

In [64]:
num1.difference(num2) # return num1 element which are not present in num2

{1, 4}

In [65]:
# intersection_update - this will perform the intersection and return value is updated in first set
print(num1)
num1.intersection_update(num2)
num1 # num1 is updated with intesection value. num2 will not change

{1, 2, 3, 4}

{2, 3}

In [66]:
# like intersection_update - there are difference_update, union_update etc

In [67]:
# isdisjoint - return True if one set does not common 
{1,2,3}.isdisjoint({4, 5,6})

True

In [68]:
# like isdisjoint, there are issubset, issupperset function are there