Nested List

In [1]:
car_matrix = [['Toyota', 2314],
             ['Tata', 1234],
             ['Maruti', 4567]]
car_matrix

[['Toyota', 2314], ['Tata', 1234], ['Maruti', 4567]]

In [3]:
len(car_matrix) # return only len of outer most list

3

In [4]:
len(car_matrix[1]) # return len of first inner list

2

In [5]:
car_matrix[1][1]

1234

In [6]:
# slicing also posible but only at one at time 
car_matrix[:2] # outer

[['Toyota', 2314], ['Tata', 1234]]

In [7]:
car_matrix[1][0:1]

['Tata']

In [8]:
my_list = ['Ashvin', 8,
          'Ksitij', 5, 
          'Rakesh', 38]
my_list

['Ashvin', 8, 'Ksitij', 5, 'Rakesh', 38]

In [9]:
# converting the list to tuple 
tuple(my_list)

('Ashvin', 8, 'Ksitij', 5, 'Rakesh', 38)

In [10]:
# Nested list 
my_list = [['Ashvin', 8],
          ['Ksitij', 5], 
          ['Rakesh', 38]]
my_list

[['Ashvin', 8], ['Ksitij', 5], ['Rakesh', 38]]

In [11]:
# now changing to tuple
tuple(my_list)

(['Ashvin', 8], ['Ksitij', 5], ['Rakesh', 38])

In [12]:
dict(my_list)

{'Ashvin': 8, 'Ksitij': 5, 'Rakesh': 38}