Iterative over element in list

In [1]:
for letter in ['r', 'a', 'k', 'e', 's', 'h']:
    print(letter)

r
a
k
e
s
h

In [2]:
for letter in "Rakesh":
    print(letter)

R
a
k
e
s
h

In [3]:
name = "Rakesh"
for char in name:
    print(char)

R
a
k
e
s
h

In [4]:
for digit in "210":
    print(digit)

2
1
0

In [5]:
for digit in 23:
    print(digit)

TypeError: 'int' object is not iterable

In [6]:
# Note - all iteratable objects- list, string, tuple  are iterated using for

In [7]:
for country in "India", "USA", "Russia":
    print(country)

India
USA
Russia

In [8]:
# Tuple 
animal_age = (('Dog', 3), ('cat', 2), ('horse', 6))

for x in animal_age:
    print(x)

('Dog', 3)
('cat', 2)
('horse', 6)

In [10]:
# use of enumerate 
for i, (animal, age) in enumerate(animal_age):  # enumerate along with value it also return the index 
    print(animal, ' : ', age )

Dog  :  3
cat  :  2
horse  :  6

In [12]:
# dictionary 
students = {
        'Rakesh': 85,
        'Ashvin': 95,
        'Kshitij': 98
}

for key in students:
    print(key )

Rakesh
Ashvin
Kshitij

In [13]:
# using keys function

for key in students.keys():
    print(key)

Rakesh
Ashvin
Kshitij

In [14]:
# using values 
for value in students.values():
    print(value)

85
95
98

In [15]:
# getting key and value 
for key in students:
    print(key, " ", students[key])

Rakesh   85
Ashvin   95
Kshitij   98

In [16]:
for key,value in students.items():
    print(key, value)

Rakesh 85
Ashvin 95
Kshitij 98

In [17]:
#Mix of datatype 
items = [124, 2.5, 2+3j,
        True, "Name", 
        ('Rakesh', 38), ['Ashivn', 98],
        {
            'Kshitij': 89
        }]

for item in items:
    print(item)

124
2.5
(2+3j)
True
Name
('Rakesh', 38)
['Ashivn', 98]
{'Kshitij': 89}

In [18]:
# square of numbers 
my_list = [2, 4, 8]
for item in my_list:
    print(item ** 2)

4
16
64

In [19]:
# finding the length of given string 
name = "Rakesh Kumar Mishra"
count = 0
for i in name:
    count +=1

count

19

In [20]:
# else statemt in for 
number = [2,3,5]
for i in number:
    print(i)
else:
    print("Completed")

2
3
5
Completed

In [21]:
# another example of else with for 

my_set = {23, 45, 55}
for i in my_set:
    print(i)
else:
    print("No more to iterate ")

55
45
23
No more to iterate

In [22]:
# if statement in for loop
city = ["Chennai", "Hyderabad", "Bangalore"]
for c in city:
    if c == "Chennai":
        print("My current city of stay")
    else:
        print("Lived earlier")

My current city of stay
Lived earlier
Lived earlier

In [23]:
# even numbers

numbers = [1, 4, 6, 6, 7, 9]

for i in numbers:
    if i % 2  == 0:
        print(i , ": Even number ")
    else:
        print(i, ": Odd number")

1 : Odd number
4 : Even number
6 : Even number
6 : Even number
7 : Odd number
9 : Odd number

In [24]:
# list of lists
outerList = [[1, 2, 3, 4], 
            ['Chennai', 'Bangalore', 'Hyderabad']
        ]

for i  in outerList:    # Nested for loop
    for j in i:
        print(i, ": Contains -", j)

[1, 2, 3, 4] : Contains - 1
[1, 2, 3, 4] : Contains - 2
[1, 2, 3, 4] : Contains - 3
[1, 2, 3, 4] : Contains - 4
['Chennai', 'Bangalore', 'Hyderabad'] : Contains - Chennai
['Chennai', 'Bangalore', 'Hyderabad'] : Contains - Bangalore
['Chennai', 'Bangalore', 'Hyderabad'] : Contains - Hyderabad

In [25]:
# Using range 

my_range = range(5)
my_range # range object

range(0, 5)

In [26]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [27]:
# Note on range 
# range return an object containing numbers starting from start index to max -1 index. 
# If single argument is passed then it start from 0 to argument -1 i.e. in above ex it start with 0 to 5-1

# Others examples of range 
for i in range(4, 20):
    print(i)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [28]:
for i in range(4, 16, 3):
    print(i)

4
7
10
13